        oops --> object oriented programing structure
        
        python is pure oops
        
        everything is object in python
        
        oops --> 
                object --> physical or logical entity
                
                classes --> template, design and blue print of data
                        --> colletion of object
                        
                abstruction
                encapsulation
                inheritance
                ploymorphism
                message passing
                
                
        class and object
                without class object is not exist
                
        class  --> attribute
                   behaviour/methods
                   
         pridefine class:
                         int
                         flot
                         complex
                         str
                         list
                         tuple
                         
        class kyeword to define a class

# oops  --> object orianted programing structure

        syntax:
                 class Class_name:
                     
                     attribute
                     
                     method

      method is class specific
      
      function is unique

In [1]:
class human:
    
    def walk():
        print("you are walking")
        
    def talk():
        print("you are talking")
    
    def dance():
        print("you are dancing")

In [2]:
khushi=human()   # object creation

In [5]:
khushi.talk

In [4]:
print(type(khushi))

<class '__main__.human'>

In [6]:
l=[1,2,3,4,5]

In [7]:
print(type(l))

<class 'list'>

In [8]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [9]:
print(dir(human))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'dance', 'talk', 'walk']

In [19]:
class human:
    
    def walk(self):
        print("you are walking")
        
    def talk(self):
        print("you are talking")
    
    def dance(self):
        print("you are dancing")

In [20]:
khushi=human()   # object creation

In [13]:
human.walk()

you are walking

In [14]:
human.talk()

you are talking

In [21]:
khushi.walk()

you are walking

In [22]:
l

[1, 2, 3, 4, 5]

In [23]:
l.append(45)

In [24]:
list.append(l,67)

In [25]:
l

[1, 2, 3, 4, 5, 45, 67]

In [1]:
class human:
    
    def __init__(self,name,age):
        self.name=name  # binding data with objects
        self.age=age
    
    def walk(self):
        print("you are walking")
        
    def talk(self):
        print("you are talking")
    
    def dance(self):
        print("you are dancing")

In [2]:
obj1=human('khushi',89)
obj2=human('kukku',90)

In [3]:
obj1.name

'khushi'

In [ ]:
class Account:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
    def deposit(self,amount):
        print(f"")

In [49]:
class human:
    
    def __init__(self,name,age):   # self represent the instance of object
        self.name=name  # binding data with objects
        self.age=age
    
    def walk(self):
        print(f'{self.name} you are walking')
        
    def talk(self):
        print("you are talking")
    
    def dance(self):
        print("you are dancing")
        
    def change_name(self,name):
        self.name=name
        
    def get_name(self):
        return self.name
    
    def detail(self):
        return self.name,self.age

In [50]:
obj1=human('khushi',89)
obj2=human('kukku',90)

In [40]:
obj1.walk()

khushi you are walking

In [43]:
obj1.change_name('hello')

In [44]:
obj1.name

'hello'

In [48]:
obj1.get_name()

'khushi'

In [51]:
obj1.detail()

('khushi', 89)

### comparing object

In [52]:
class person:
    
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        
    def get_detail(self):
        print(f'pesron name: {self.name}')
        print(f'pesron salary: {self.salary}')

In [53]:
p1=person('khushi',456543)
p2=person('kukku',984059)

In [54]:
p1.get_detail()

pesron name: khushi
pesron salary: 456543

In [55]:
p1.compare(p2)

AttributeError: 'person' object has no attribute 'compare'

        class--> student
        
            method ---> 3 subject marks avg

In [68]:
class student:
    
    def __init__(self,name,marks1,marks2,marks3):
        self.name=name
        self.marks1=marks1
        self.marks2=marks2
        self.marks3=marks3
    
    def marks_avg(self):
        return f'{self.name} marks avg is {(self.marks1+self.marks2+self.marks3)/3}'

In [69]:
std1=student('khushi',34,56,78)

In [70]:
std1.marks_avg()

'khushi marks avg is 56.0'

In [71]:
std1.__dict__

{'name': 'khushi', 'marks1': 34, 'marks2': 56, 'marks3': 78}

In [72]:
class person:
    
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        
    def get_detail(self):
        print(f'pesron name: {self.name}')
        print(f'pesron salary: {self.salary}')

In [73]:
p1=person('khushi',456543)
p2=person('kukku',984059)

In [74]:
print(type(p1))
print(type(p2))

<class '__main__.person'>
<class '__main__.person'>

In [75]:
p1.campare(p2)

AttributeError: 'person' object has no attribute 'campare'

In [78]:
s

{2, 3, 5, 6, 7}

In [77]:
s.append(45)

AttributeError: 'set' object has no attribute 'append'

In [1]:
class person:
    
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        
    def get_detail(self):
        print(f'pesron name: {self.name}')
        print(f'pesron salary: {self.salary}')  
        
    def compare(self,other):
        if self.salary>other.salary:
            return True
        else:
            return False

In [2]:
p1=person('khushi',456543)
p2=person('kukku',984059)

In [3]:
p1.compare(p2)

False

In [4]:
if p1.compare(p2):
    print('p1 jyada')
else:
    print('p2 jyada')

p2 jyada

### type of variable:
                    two type:
                        1. instance variable
                                        as the object change value of instance variable will change
                                        always define in __init__ method
                                        
                        2. class variable
                                        comman for all object
                                        inside the class and outside the __init__ method

In [5]:
class car:
    
    def __init__(self,comany,mil,color):
        self.comany=comany       #instance variable
        self.mil=mil
        self.color=color
        
    def get_car_detail(self):
        return self.comany,self.mil,self.color

In [6]:
car1=car('BMW','10','red')
car2=car('tata','8','black')

In [8]:
car1.get_car_detail()

('BMW', '10', 'red')

In [9]:
car1.comany='tata'

In [11]:
car1.get_car_detail()

('tata', '10', 'red')

In [1]:
class car:
    
    wheels=4   # class variable
    
    def __init__(self,comany,mil,color):
        self.comany=comany       #instance variable
        self.mil=mil
        self.color=color
        
    def get_car_detail(self):
        return self.comany,self.mil,self.color

In [2]:
car1=car('BMW','10','red')
car2=car('tata','8','black')

In [3]:
car1.wheels

4

In [4]:
car2.wheels

4

In [5]:
car1.wheels=5

In [6]:
car1.wheels

5

In [7]:
car2.wheels

4

In [9]:
car.wheels=5

In [10]:
car2.wheels

5

In [11]:
car1.get_car_detail()

('BMW', '10', 'red')

In [14]:
car1.__dict__

{'comany': 'BMW', 'mil': '10', 'color': 'red', 'wheels': 5}

In [15]:
car2.__dict__

{'comany': 'tata', 'mil': '8', 'color': 'black'}

In [ ]:
Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

In [65]:
class Solution(object):
    def twoSum(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """
        for i in range(len(nums)):
            for j in range(i+1,len(nums)):
                if i!=j and nums[i]+nums[i+1]==target:
                    return [i,j]

In [66]:
s1=Solution()

In [67]:
nums = [2,7,11,15]
target = 9

In [68]:
s1.twoSum(nums,target)

[0, 1]

In [ ]:
Input: l1 = [2,4,3], l2 = [5,6,4]
Output: [7,0,8]
Explanation: 342 + 465 = 807.

In [16]:
l1 = [2,4,3]
l2 = [5,6,4]

AttributeError: 'list' object has no attribute 'split'

In [ ]:
class Solution(object):
    def addTwoNumbers(self, l1, l2):
        """
        :type l1: ListNode
        :type l2: ListNode
        :rtype: ListNode
        """