In [1]:
import pymysql

In [4]:
conn=pymysql.connect(host='localhost',user='root',password='',port=3307)
conn

In [5]:
print(dir(conn))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_affected_rows', '_auth_plugin_map', '_auth_plugin_name', '_binary_prefix', '_closed', '_connect_attrs', '_create_ssl_ctx', '_execute_command', '_force_close', '_get_auth_plugin_handler', '_get_server_information', '_local_infile', '_next_seq_id', '_process_auth', '_quote_bytes', '_read_bytes', '_read_ok_packet', '_read_packet', '_read_query_result', '_read_timeout', '_request_authentication', '_result', '_rfile', '_secure', '_send_autocommit_mode', '_sock', '_write_bytes', '_write_timeout', 'affected_rows', 'autocommit', 'autocommit_mode', 'begin', 'bind_address', 'character_set_name', 'charset', 'client_flag', 'close', 'collation', 'commit', 'connect', 'connect_timeout', 'cursor', 'cursorclass', 'db', 'decoders', 'encoders', 'encoding', 'escape', 'escape_string', 'get_autocommit', 'get_host_info', 'get_proto_info', 'get_server_info', 'host', 'host_info', 'init_command', 'insert_id', 'kill', 'literal', 'max_allowed_packet', 'next_result', 'open', 'password', 'ping', 'port', 'protocol_version', 'query', 'rollback', 'salt', 'select_db', 'server_capabilities', 'server_charset', 'server_language', 'server_public_key', 'server_status', 'server_thread_id', 'server_version', 'set_character_set', 'set_charset', 'show_warnings', 'sql_mode', 'ssl', 'thread_id', 'unix_socket', 'use_unicode', 'user', 'write_packet']

In [7]:
cur=conn.cursor()

In [12]:
cur.execute('show databases')

6

In [13]:
tabels=cur.fetchall()
tabels

(('college',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('phpmyadmin',),
 ('test',))

In [10]:
from functools import reduce

In [14]:
reduce(lambda x,y:x+y,tabels)

('college',
 'information_schema',
 'mysql',
 'performance_schema',
 'phpmyadmin',
 'test')

In [15]:
cur.execute('use college')

0

In [18]:
cur.execute('create table student(sid int(5),name varchar(30),age int(5),branch varchar(30))')

0

In [20]:
sids=[1,2,3,4,5,6,7,8]
names=["khushi","kukku","ram","sita","rajat","chunnu","rohan","rakesh"]
ages=[21,22,34,23,22,11,45,66]
branches=["AI7DS","CSE","AI","ML","EE","ME","AI&DS","CSE"]

In [21]:
for sid,name,age,branch in zip(sids,names,ages,branches):
    cmd=f"insert into student values('{sid}','{name}','{age}','{branch}')"
    cur.execute(cmd)
else:
    conn.commit()

In [22]:
cur.execute('select * from student')

8

In [23]:
cur.fetchall()

((1, 'khushi', 21, 'AI7DS'),
 (2, 'kukku', 22, 'CSE'),
 (3, 'ram', 34, 'AI'),
 (4, 'sita', 23, 'ML'),
 (5, 'rajat', 22, 'EE'),
 (6, 'chunnu', 11, 'ME'),
 (7, 'rohan', 45, 'AI&DS'),
 (8, 'rakesh', 66, 'CSE'))

In [24]:
def db_connect():
    conn=pymysql.connect(host='localhost',user='root',password='',port=3307)
    cur=conn.cursor()
    return conn,cur

In [25]:
db,cur=db_connect()

In [26]:
db

In [ ]:
cur.execute('show databases')
database=reduce(lambda x,y:x+y,cur.fetchall())
print('To use exixting database enter old')
print('To create new database enter new')
choice=input('enter your choice: ').lower()
if choice=='old':
    print(*database,sep='\n')
    db_name=input('enter your database name: ')
    if db_name in database:
        cur.execute(f'use {db_name}')
        cur.execute('show tables')
        tables=reduce(lambda x,y:x+y,cur.fetchall())
        print(*tables,sep='\n')
        table_name=input("enter your table name: ")
        cur.execute(f'select * from {table_name}')
        print(reduce(lambda x,y:x+y,cur.fetchall()))
        
#         print("select which operation to perform: ")
#         print()
    else:
        print("database not exist...")
else:
    new_db=input("enter new database name: ")
    if new_db not in database:
        cur.execute(f'create database {new_db}')
        cur.execute(f'use {new_db}')
        table=input('enter table name: ')
#         number_of_column=int(input("enter number of1 column: "))
#         col_name=[]
#         col_type=[]
#         for i in range(number_of_column):
#             cname=input("enter column name: ")
#             l.append(cname)
#             ctype=input("enter the data type: ")
#             col_type.append(ctype)
        
        cur.execute(f'create table {table}(emp_id int(5),emp_name varchar(30),emp_address varchar(30))')
        while input('enter any key to insert row: '):
            eid=int(input("enter the emp_id: "))
            ename=input("enter the emp_name: ")
            eaddress=input("enter the emp_address: ")
            cmd=f"insert into {table} values('{eid}','{ename}','{eaddress}')"
            cur.execute(cmd)
        else: 
            db.commit()
            db.close
        
    else:
        print('Database already exixts...')

To use exixting database enter old
To create new database enter new

        sqlite3  ---> server less

In [6]:
number_of_column=int(input("enter number of1 column: "))
col_type=[]
col=[]
for i in range(number_of_column):
    cname=input("enter column name: ")
    col.append(cname)
    ctype=input("enter the data type: ")
    col_type.append(ctype)
print(col)
print(col_type)
for cname,ctype in zip(col,col_type):
    print(f'{cname},{ctype}')

enter number of1 column: 2
enter column name: k
enter the data type: in
enter column name: j
enter the data type: do
['k', 'j']
['in', 'do']
k,in
j,do

In [1]:
import pymysql

In [2]:
conn=pymysql.connect(host='localhost',user='root',password='',port=3307,database='college')
cur=conn.cursor()

In [3]:
fullname=input('fullName')
phone=input('phone')
email=input('email')
password=input('password')
cmd=f"select * from register where email = '{email}'"
cur.execute(cmd)
cur.fetchall()

fullNamekhushi
phone659849
emailkhushijangid643@gmail.com
passwordkhushi

()