In [1]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\dell\appdata\roaming\python\python311\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymysql

       mysql -u root -p

In [8]:
conn=pymysql.connect(host="localhost",user="root",password='',port=3307)

In [9]:
conn

In [22]:
print(dir(conn))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_affected_rows', '_auth_plugin_map', '_auth_plugin_name', '_binary_prefix', '_closed', '_connect_attrs', '_create_ssl_ctx', '_execute_command', '_force_close', '_get_auth_plugin_handler', '_get_server_information', '_local_infile', '_next_seq_id', '_process_auth', '_quote_bytes', '_read_bytes', '_read_ok_packet', '_read_packet', '_read_query_result', '_read_timeout', '_request_authentication', '_result', '_rfile', '_secure', '_send_autocommit_mode', '_sock', '_write_bytes', '_write_timeout', 'affected_rows', 'autocommit', 'autocommit_mode', 'begin', 'bind_address', 'character_set_name', 'charset', 'client_flag', 'close', 'collation', 'commit', 'connect', 'connect_timeout', 'cursor', 'cursorclass', 'db', 'decoders', 'encoders', 'encoding', 'escape', 'escape_string', 'get_autocommit', 'get_host_info', 'get_proto_info', 'get_server_info', 'host', 'host_info', 'init_command', 'insert_id', 'kill', 'literal', 'max_allowed_packet', 'next_result', 'open', 'password', 'ping', 'port', 'protocol_version', 'query', 'rollback', 'salt', 'select_db', 'server_capabilities', 'server_charset', 'server_language', 'server_public_key', 'server_status', 'server_thread_id', 'server_version', 'set_character_set', 'set_charset', 'show_warnings', 'sql_mode', 'ssl', 'thread_id', 'unix_socket', 'use_unicode', 'user', 'write_packet']

In [11]:
cur=conn.cursor()

In [15]:
print(dir(cur))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_check_executed', '_clear_result', '_conv_row', '_do_execute_many', '_do_get_result', '_escape_args', '_executed', '_get_db', '_nextset', '_query', '_result', '_rows', 'arraysize', 'callproc', 'close', 'connection', 'description', 'execute', 'executemany', 'fetchall', 'fetchmany', 'fetchone', 'lastrowid', 'max_stmt_length', 'mogrify', 'nextset', 'rowcount', 'rownumber', 'scroll', 'setinputsizes', 'setoutputsizes', 'warning_count']

In [16]:
cur.execute('show databases')

7

In [17]:
cur.fetchall()

(('college',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('phpmyadmin',),
 ('student',),
 ('test',))

In [18]:
cur.execute('use college')

0

In [19]:
cur.fetchall()

[]

In [25]:
cur.execute('show tables')

4

In [26]:
tabels=cur.fetchall()
tabels

(('address',), ('employe',), ('fees',), ('student',))

In [27]:
from functools import reduce

In [28]:
reduce(lambda x,y:x+y,tabels)

('address', 'employe', 'fees', 'student')

In [40]:
cur.execute('select * from student')

10

In [41]:
cur.fetchall()

((101, 'khushi', 'AI&DS'),
 (102, 'kukku', 'ML'),
 (103, 'ram', 'CSE'),
 (104, 'rajat', 'AI'),
 (105, 'chunnu', 'DS'),
 (106, 'kalam', 'ML'),
 (107, 'sundri', 'CSE'),
 (108, 'palak', 'AI'),
 (109, 'sita', 'AI&DS'),
 (110, 'khushi', 'AI&DS'))

In [42]:
sid=[111,112,113,114]
names=["rajat","rohan","kukku","chunnu"]
branch=['ML','AI','DA','CSE']

In [38]:
cmd='insert into student values(110,"khushi","AI&DS")'

In [39]:
cur.execute(cmd)

1

In [43]:
sid=[111,112,113,114]
names=["rajat","rohan","kukku","chunnu"]
branch=['ML','AI','DA','CSE']

In [44]:
for std_id,std_name,std_branch in zip(sid,names,branch):
    cmd=f"insert into student values('{std_id}','{std_name}','{std_branch}')"
    cur.execute(cmd)
else:
    conn.commit()

In [45]:
cur.execute('select * from student')

14

In [46]:
cur.fetchall()

((101, 'khushi', 'AI&DS'),
 (102, 'kukku', 'ML'),
 (103, 'ram', 'CSE'),
 (104, 'rajat', 'AI'),
 (105, 'chunnu', 'DS'),
 (106, 'kalam', 'ML'),
 (107, 'sundri', 'CSE'),
 (108, 'palak', 'AI'),
 (109, 'sita', 'AI&DS'),
 (110, 'khushi', 'AI&DS'),
 (111, 'rajat', 'ML'),
 (112, 'rohan', 'AI'),
 (113, 'kukku', 'DA'),
 (114, 'chunnu', 'CSE'))

In [47]:
conn.close()

In [48]:
def DB_connect():
    conn=pymysql.connect(host="localhost",user="root",password='',port=3307) 
    cur=conn.cursor()    
    return conn,cur

In [49]:
db,cur=DB_connect()

In [50]:
db

In [59]:
cur.execute('show databases')
databases=reduce(lambda x,y:x+y,cur.fetchall())
databases
print('to use exixting database enter old')
print('to create new database enter new')
choice=input("enter your choice : ").lower()
if choice=='old':
    print(*databases,sep='\n')
    db_name=input("enter database name: ")
    if db_name in databases:
        cur.execute(f"use {db_name}")
        cur.execute('show table')
        tabels=reduce(lambda x,y:x+y,cur.fetchall())
        print(*tables,sep='\n')
    else:
        print("database not exists...")
else:
    pass

to use exixting database enter old
to create new database enter new
enter your choice : old
college
information_schema
mysql
performance_schema
phpmyadmin
student
test
enter database name: colllege
database not exists...